<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OLX FRAUD DETECTION </title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <section id="header" >
            <img src= "static/images/eve.jpg.jpg" class="'logo"  alt="img desc" width="100" height="50">
            <div>
                <ul id="navbar">
                    <li> <a href ="index"> Home</a></li>
                    <li> <a class ="active" href ="shop"> Shop</a></li>
                    <!--<li> <a href ="sign"> Sign Up</a></li>-->
                    <li> <a href ="about"> About</a></li>
                    <li> <a href ="contact"> Contact</a></li>
                    <li> <a href ="cart"><img src="static/images/cart.png" alt="Cart" width="30" height="30"></a></li>
                </ul>
            </div>
        </section>
        <section id="pg-header"class="about-header">
            <h2>About This site</h2>
            <p>OLX Fraud Detection: Safeguarding users and ensuring competitive, fair pricing with real-time insights</p>
        </section>
        <section id="about-head" class="section-p1">
            <img src="static/images/a1.jpeg" alt="">
            <div>
                <h2>Who We Are</h2>
                <p>
                    OLX Fraud Detection is a cutting-edge platform focused on protecting users from fraudulent activities on OLX, a major online marketplace. Utilizing advanced machine learning and user behavior analysis, our system detects and prevents fraud in real-time by monitoring listings, messages, and interactions for suspicious patterns. Additionally, OLX Fraud Detection offers dynamic pricing features, providing real-time insights into market trends to help users make informed decisions and optimize their listings. Our platform ensures safe, secure, and transparent transactions, allowing users to buy and sell with confidence.</p>
                <p> Strategies used: Dynamic Pricing model ... </p>
                <br><br>
                <div class="marquee">
                    We stand as your vigilant guardian, employing cutting-edge technology to safeguard you from online fraud, ensuring a secure and trustworthy shopping
                  </div>
            </div>
        </section>
        <footer class="section-p1">
            <div class="col">
                <img src="static/images/eve.jpg.jpg" alt="" width="100" height="50">
                <h4> Contact</h4>
                <p><strong>Address: </strong> Mar Athanasius College </p>
                <p><strong>Phone: </strong> 123456789</p>
            </div>
            <div class="col">
                <h4> About</h4>
                <a href="#"> About us</a>
                <a href="#"> Privacy Policy</a>
                <a href="#"> Terms and conditions</a>
                <a href="#"> Contact Us</a>
            </div>
            <div class="col">
                <h4> My Account</h4>
                <a href="#"> Sign In</a>
                <a href="#"> View cart</a>
                <a href="#"> My wishlist</a>
                <a href="#"> Track my order</a>
                <a href="#"> Help</a>
            </div>
        </footer>
        <script src="static/js/script.js"></script>
    </body>
</html>