<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OLX FRAUD DETECTION </title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

        <link rel="stylesheet" href="/static/css/style.css">
    </head>
        
    <body>
        <section id="header" >
            <img src= "static/images/eve.jpg.jpg" class="'logo"  alt="img desc" width="100" height="50">
            <div>
                <ul id="navbar">
                    <li> <a href ="index"> Home</a></li>
                    <li> <a class ="active" href ="shop"> Shop</a></li>
                    <!--<li> <a href ="sign"> Sign Up</a></li>-->
                    <li> <a href ="about"> About</a></li>
                    <li> <a href ="contact"> Contact</a></li>
                    <li> <a href ="cart"><img src = "static/images/cart.png" alt="Cart" width="30" height="30"></a></li>
                </ul>
            </div>
        </section>

        <section id="pg-header"class="about-header">
           
            <h2>Reach Us</h2>
            <p>Connect with Us: For inquiries, assistance, or collaboration opportunities, feel free to reach out using the information provided below. We're here to help! </p>
            
        </section>

        <section id="Contact-Details" class="section-p1">
            <div class= "details">
                <span> GET IN TOUCH</span>
                <h2>Visit Us or Contact Us</h2>
                <h3>Head Office</h3>
                <div>
                    <li>
                        <i class="fal fa-map"></i>
                        <p> Mar Athanasius College Of Engineering</p>
                    </li>
                    <li>
                        <i class="fal fa-envelope"></i>
                        <p> abc@gmail.com</p>
                    </li>
                    <li>
                        <i class="fal fa-phone-alt"></i>
                        <p> 123456789</p>
                    </li>
                    <li>
                        <i class="fal fa-clock"></i>
                        <p> Monday to Saturday: 9.00 am to 5.00pm</p>
                    </li>
                </div>
            </div>

            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.5500639865463!2d76.6193309!3d10.053936999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b07e6154a2133e5%3A0x2c26b2d532bb30ea!2sMar%20Athanasius%20College%20of%20Engineering%20-%20Kothamangalam!5e0!3m2!1sen!2sin!4v1709450970177!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>

        </section>

        
        

   
     


 
        <footer class="section-p1">
            <div class="col">
                <img src="eve.jpg.jpg" alt="" width="100" height="50">
                <h4> Contact</h4>
                <p><strong>Address: </strong> Mar Athanasius College </p>
                <p><strong>Phone: </strong> 123456789</p>
                
            </div>
            <div class="col">
                <h4> About</h4>
                <a href="#"> About us</a>
                <a href="#"> Privacy Policy</a>
                <a href="#"> Terms and conditions</a>
                <a href="#"> Contact Us</a>
            </div>

            <div class="col">
                <h4> My Account</h4>
                <a href="#"> Sign In</a>
                <a href="#"> View cart</a>
                <a href="#"> My wishlist</a>
                <a href="#"> Track my order</a>
                <a href="#"> Help</a>
            </div>
            


        </footer>


        <script src="script.js"></script>
    </body>

</html>