<section id="header" >
    <img src= "static/images/eve.jpg.jpg" class="'logo"  alt="img desc" width="100" height="50">
    <div>
        <ul id="navbar">
            <li> <a href ="index"> Home</a></li>
            <li> <a class ="active" href ="shop"> Shop</a></li>
            <!--<li> <a href ="sign"> Sign Up</a></li>-->
            <li> <a href ="about"> About</a></li>
            <li> <a href ="contact"> Contact</a></li>
            <li> <a href ="cart"><img src = "/static/cart.png" alt="Cart" width="30" height="30"></a></li>
        </ul>
    </div>
</section>