<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OLX FRAUD DETECTION </title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <section id="header">
            <img src= "static/images/eve.jpg.jpg" class="'logo"  alt="img desc" width="100" height="50">
            <div>
                <ul id="navbar">
                    <li> <a href ="index"> Home</a></li>
                    <li> <a class ="active" href ="shop"> Shop</a></li>
                    <!--<li> <a href ="sign"> Sign Up</a></li>-->
                    <li> <a href ="about"> About</a></li>
                    <li> <a href ="contact"> Contact</a></li>
                    <li> <a href ="cart"><img src = "static/images/cart.png" alt="Cart" width="30" height="30"></a></li>
                </ul>
            </div>
        </section>

        <section id="hero">
            <h4> Welcome to the site</h4>
            <button><a href ="shop">Shop now</a></button>
        </section>

        <section id="feature" class="section-p1">
            <div class="fe-box">
                <img src="static/images/f1.png" alt="">
                <h6> Free Shipping</h6>
            </div>
            <div class="fe-box">
                <img src="static/images/f2.png" alt="">
                <h6> Online order</h6>
            </div>
            <div class="fe-box">
                <img src="static/images/f3.png" alt="">
                <h6> Save Money</h6>
            </div>
            <div class="fe-box">
                <img src="static/images/f4.png" alt="">
                <h6> Promotins</h6>
            </div>
            <div class="fe-box">
                <img src="static/images/f5.png" alt="">
                <h6> Happy sell</h6>
            </div>
        </section>

        <section id="product1" class="section-p1">
            <h2>Featured products</h2>
            <p>More popular by this time</p>
            <div class="Pro-container">
                <!--

                    <div class="pro">
                        <img src="static/images/shirt.jpg" alt="">
                        <div class="des">
                            <span>Adidas</span>
                            <h5>Used only twice <br>
                                Brought from Ajio
                    
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs100</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            
                    <div class="pro">
                        <img src="static/images/oven1.jpeg" alt="">
                        <div class="des">
                            <span>OTG Oven</span>
                            <h5>2 yr old <br>
                                Brought from flipkart<br>
                                Have 3 yrs warranty

                    
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs2500</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            
                    <div class="pro">
                        <img src="static/images/phone.jpeg" alt="">
                        <div class="des">
                            <span>Apple iPhone 7 plus</span>
                            <h5>32 GB RAM <br>
                                Colour Black<br>
                                1 year old<br>
                                Small scratch on the screen<br>
                                Battery life 8hrs
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs10000</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            
                    <div class="pro">
                        <img src="static/images/tv.jpeg" alt="">
                        <div class="des">
                            <span>LCD TV</span>
                            <h5>Ultra high definition <br>
                                Samsung LED<br>
                                4k resolution<br>
                                used for 2 year<br>
                                Good picture quality<br>
                                65 inch
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs6000</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            -->
                    <div class="pro">
                        <img src="static/images/bag.jpeg" alt="">
                        <div class="des">
                            <span>Sky Bags Mini backpack</span>
                            <h5>Perfect during travelling <br>
                                Used only 5 times<br>
                                2 bags<br>
                                Wheels and handls are in good condition<br>
                                Ample Storage<br>                    
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs500</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            
                    <div class="pro">
                        <img src="static/images/car.jpeg" alt="">
                        <div class="des">
                            <span>Range Rover</span>
                            <h5>Disel Engine 2997cc <br>
                                7 Seater <br>
                                13.16 kmpl mileage<br>
                                10 air bags<br>


                    
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs100000</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="static/images/shoe.jpeg" alt="">
                        <div class="des">
                            <span>Nike shoe for women</span>
                            <h5>Used only twice <br>
                                Air cushioning<br>
                                Lightweight<br>
                                Spikeless <br>
                                Water resistant<br>
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                               
                            </div>
                            <h4>Rs500</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            
                    <div class="pro">
                        <img src="static/images/jew.jpeg" alt="">
                        <div class="des">
                            <span>Indian bridal Jewellery from MACE </span>
                            <h5>Used only once <br>
                                Indian Choker temple neclace<br>
                                Wedding earrings<br>
                                Gold plated<br>
                                Weight 165 gm<br>
                                Droplength 7.5 inches<br>
                                Width 3.7 inches<br>
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs500</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            

            </div>

        </section>

        <section id="banner" class ="section-m1">
            <h4 style="color: white;"> Repair Service</h4>
            <h2 style="color: white;"> Up to <span style="color: white;">70 % off</span> for all items</h2>
            <button class="normal" style="color: white;">Explore more</button>
        </section>
        
        <section id="product1" class="section-p1">
            <h2>New Arrivals</h2>
            <p>More recently updated</p>
            <div class="Pro-container">

                    <div class="pro">
                        <img src="static/images/shirt.jpg" alt="">
                        <div class="des">
                            <span>Adidas</span>
                            <h5>Used only twice <br>
                                Brought from Ajio
                    
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs100</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            
                    <div class="pro">
                        <img src="static/images/oven1.jpeg" alt="">
                        <div class="des">
                            <span>OTG Oven</span>
                            <h5>2 yr old <br>
                                Brought from flipkart<br>
                                Have 3 yrs warranty

                    
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                
                            </div>
                            <h4>Rs2500</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            
                    <div class="pro">
                        <img src="static/images/phone.jpeg" alt="">
                        <div class="des">
                            <span>Apple iPhone 7 plus</span>
                            <h5>32 GB RAM <br>
                                Colour Black<br>
                                1 year old<br>
                                Small scratch on the screen<br>
                                Battery life 8hrs
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                
                            </div>
                            <h4>Rs10000</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            
                    <div class="pro">
                        <img src="static/images/tv.jpeg" alt="">
                        <div class="des">
                            <span>LCD TV</span>
                            <h5>Ultra high definition <br>
                                Samsung LED<br>
                                4k resolution<br>
                                used for 2 year<br>
                                Good picture quality<br>
                                65 inch
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs6000</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            <!--
                    <div class="pro">
                        <img src="static/images/bag.jpeg" alt="">
                        <div class="des">
                            <span>Sky Bags Mini backpack</span>
                            <h5>Perfect during travelling <br>
                                Used only 5 times<br>
                                2 bags<br>
                                Wheels and handls are in good condition<br>
                                Ample Storage<br>

                    
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs500</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            
                    <div class="pro">
                        <img src="static/images/car.jpeg" alt="">
                        <div class="des">
                            <span>Range Rover</span>
                            <h5>Disel Engine 2997cc <br>
                                7 Seater <br>
                                13.16 kmpl mileage<br>
                                10 air bags<br>


                    
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs100000</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            
                    <div class="pro">
                        <img src="static/images/shoe.jpeg" alt="">
                        <div class="des">
                            <span>Nike shoe for women</span>
                            <h5>Used only twice <br>
                                Air cushioning<br>
                                Lightweight<br>
                                Spikeless <br>
                                Water resistant<br>

                    
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                               
                            </div>
                            <h4>Rs500</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            
                    <div class="pro">
                        <img src="static/images/jew.jpeg" alt="">
                        <div class="des">
                            <span>Indian bridal Jewellery from MACE </span>
                            <h5>Used only once <br>
                                Indian Choker temple neclace<br>
                                Wedding earrings<br>
                                Gold plated<br>
                                Weight 165 gm<br>
                                Droplength 7.5 inches<br>
                                Width 3.7 inches<br>
                                

                    
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                
                            </div>
                            <h4>Rs500</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            -->
            </div>
        </section>

        <section id="sm-banner" class="section-p1">
            <div class="banner-box">
                <h4> Clothes</h4>
                <!--<h3><span>The latest </span></h3>-->
                <button class="white">Show More</button>
            </div>

            <div class="banner-box banner-box2">
                <h4> Shoes and bags</h4>
                <!--<h3><span>The latest </span></h3>-->
                <button class="white">Show More</button>
            </div>

            <div class="banner-box banner-box3">
                <h4> Home Appliances</h4>
                <!--<h3><span>The latest </span></h3>-->
                <button class="white">Show More</button>
            </div>
            <div class="banner-box banner-box4">
                <h4> Vehicles</h4>
                <!--<h3><span>The latest </span></h3>-->
                <button class="white">Show More</button>
            </div>
        </section>


        <section id="newsletter" class="section-p1 section-m1">
            <h2>Sign up here!!</h2>
            <div class="form">
                <input type="text" placeholder="Your email address">
                <button class="normal">Sign Up</button>
            </div>


        </section>

        <footer class="section-p1">
            <div class="col">
                <img src="static/images/eve.jpg.jpg" alt="" width="100" height="50">
                <h4> Contact</h4>
                <p><strong>Address: </strong> Mar Athanasius College </p>
                <p><strong>Phone: </strong> 123456789</p>
                
            </div>
            <div class="col">
                <h4> About</h4>
                <a href="#"> About us</a>
                <a href="#"> Privacy Policy</a>
                <a href="#"> Terms and conditions</a>
                <a href="#"> Contact Us</a>
            </div>

            <div class="col">
                <h4> My Account</h4>
                <a href="#"> Sign In</a>
                <a href="#"> View cart</a>
                <a href="#"> My wishlist</a>
                <a href="#"> Track my order</a>
                <a href="#"> Help</a>
            </div>
            


        </footer>


        <script src="/static/js/script.js"></script>
    </body>

</html>