<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OLX FRAUD DETECTION </title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <section id="header">
            <img src= "static/images/eve.jpg.jpg" class="'logo"  alt="img desc" width="100" height="50">
            <div>
                <ul id="navbar">
                    <li> <a href ="index"> Home</a></li>
                    <li> <a class ="active" href ="shop"> Shop</a></li>
                    <!--<li> <a href ="sign"> Sign Up</a></li>-->
                    <li> <a href ="about"> About</a></li>
                    <li> <a href ="contact"> Contact</a></li>
                    <li> <a href ="cart"><img src = "static/images/cart.png" alt="Cart" width="30" height="30"></a></li>
                </ul>
            </div>
        </section>

        <section id="pg-header">
            <h2>Shop with Confidence</h2>
            <p> Your trust is our top priority, and we're committed to protecting your personal and financial information every step of the way.<br> <br>Browse our selection with peace of mind, knowing that we've got your back against fraud</p>
        </section>

        <section id="product1" class="section-p1">
            <div class="Pro-container">
                    <div class="pro" onclick="window.location.href='cloth';">
                        <img src="static/images/shirt.jpg" alt="">
                        <div class="des">
                            <span>Adidas</span>
                            <h5>Used only twice <br>
                                Brought from Ajio
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs200</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>


                    <div class="pro" onclick="window.location.href='oven';">
                        <img src="static/images/oven1.jpeg" alt="">
                        <div class="des">
                            <span>OTG Oven</span>
                            <h5>2 yr old <br>
                                Brought from flipkart<br>
                                Have 3 yrs warranty
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs2500</h4>
                            <a href="appliance"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
                    <div class="pro" onclick="window.location.href='phone';">
                        <img src="static/images/phone.jpeg" alt="">
                        <div class="des">
                            <span>Apple iPhone 7 plus</span>
                            <h5>32 GB RAM <br>
                                Colour Black<br>
                                1 year old<br>
                                Small scratch on the screen<br>
                                Battery life 8hrs
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                            </div>
                            <h4>Rs10000</h4>
                            <a href="appliance"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>            
                    <div class="pro" onclick="window.location.href='tv';">
                        <img src="static/images/tv.jpeg" alt="">
                        <div class="des">
                            <span>LCD TV</span>
                            <h5>Ultra high definition <br>
                                Samsung LED<br>
                                4k resolution<br>
                                used for 2 year<br>
                                Good picture quality<br>
                                65 inch                    
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs6000</h4>
                            <a href="appliance"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
                    <div class="pro" onclick="window.location.href='bag';">
                        <img src="static/images/bag.jpeg" alt="">
                        <div class="des">
                            <span>Sky Bags Mini backpack</span>
                            <h5>Perfect during travelling <br>
                                Used only 5 times<br>
                                2 bags<br>
                                Wheels and handls are in good condition<br>
                                Ample Storage<br>
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs8000</h4>
                            <a href="bag"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>            
                    <div class="pro" onclick="window.location.href='cars';">
                        <img src="static/images/car.jpeg" alt="">
                        <div class="des">
                            <span>Range Rover</span>
                            <h5>Disel Engine 2997cc <br>
                                7 Seater <br>
                                13.16 kmpl mileage<br>
                                10 air bags<br>
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs100000</h4>
                            <a href="cars"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
                    <div class="pro" onclick="window.location.href='shoe';">
                        <img src="static/images/shoe.jpeg" alt="">
                        <div class="des">
                            <span>Nike shoe for women</span>
                            <h5>Used only twice <br>
                                Air cushioning<br>
                                Lightweight<br>
                                Spikeless <br>
                                Water resistant<br>
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                               
                            </div>
                            <h4>Rs500</h4>
                            <a href="shoe"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>            
                    <div class="pro" onclick="window.location.href='jewellery';">
                        <img src="static/images/jew.jpeg" alt="">
                        <div class="des">
                            <span>Indian bridal Jewellery from MACE </span>
                            <h5>Used only once <br>
                                Indian Choker temple neclace<br>
                                Wedding earrings<br>
                                Gold plated<br>
                                Weight 165 gm<br>
                                Droplength 7.5 inches<br>
                                Width 3.7 inches<br>
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                            
                            </div>
                            <h4>Rs500</h4>
                            <a href="jewellery"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
                    <div class="pro" onclick="window.location.href='cloth';">
                        <img src="static/images/shirt.jpg" alt="">
                        <div class="des">
                            <span>Adidas</span>
                            <h5>Used only twice <br>
                                Brought from Ajio                    
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs100</h4>
                            <a href="shirt"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>            
                    <div class="pro" onclick="window.location.href='oven';">
                        <img src="static/images/oven1.jpeg" alt="">
                        <div class="des">
                            <span>OTG Oven</span>
                            <h5>2 yr old <br>
                                Brought from flipkart<br>
                                Have 3 yrs warranty
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                            </div>
                            <h4>Rs2500</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>            
                    <div class="pro" onclick="window.location.href='phone';">
                        <img src="static/images/phone.jpeg" alt="">
                        <div class="des">
                            <span>Apple iPhone 7 plus</span>
                            <h5>32 GB RAM <br>
                                Colour Black<br>
                                1 year old<br>
                                Small scratch on the screen<br>
                                Battery life 8hrs
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                                
                            </div>
                            <h4>Rs10000</h4>
                            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
                    <div class="pro" onclick="window.location.href='tv';">
                        <img src="static/images/tv.jpeg" alt="">
                        <div class="des">
                            <span>LCD TV</span>
                            <h5>Ultra high definition <br>
                                Samsung LED<br>
                                4k resolution<br>
                                used for 2 year<br>
                                Good picture quality<br>
                                65 inch
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs6000</h4>
                            <a href="appliance"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
                    <div class="pro" onclick="window.location.href='bag';">
                        <img src="static/images/bag.jpeg" alt="">
                        <div class="des">
                            <span>Sky Bags Mini backpack</span>
                            <h5>Perfect during travelling <br>
                                Used only 5 times<br>
                                2 bags<br>
                                Wheels and handls are in good condition<br>
                                Ample Storage<br>
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs500</h4>
                            <a href="bag"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>            
                    <div class="pro" onclick="window.location.href='cars';">
                        <img src="static/images/car.jpeg" alt="">
                        <div class="des">
                            <span>Range Rover</span>
                            <h5>Disel Engine 2997cc <br>
                                7 Seater <br>
                                13.16 kmpl mileage<br>
                                10 air bags<br>
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs100000</h4>
                            <a href="car"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
                    <div class="pro" onclick="window.location.href='shoe';">
                        <img src="static/images/shoe.jpeg" alt="">
                        <div class="des">
                            <span>Nike shoe for women</span>
                            <h5>Used only twice <br>
                                Air cushioning<br>
                                Lightweight<br>
                                Spikeless <br>
                                Water resistant<br>
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>                               
                            </div>
                            <h4>Rs500</h4>
                            <a href="shoe"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
                    <div class="pro" onclick="window.location.href='jewellery';">
                        <img src="static/images/jew.jpeg" alt="">
                        <div class="des">
                            <span>Indian bridal Jewellery from MACE </span>
                            <h5>Used only once <br>
                                Indian Choker temple neclace<br>
                                Wedding earrings<br>
                                Gold plated<br>
                                Weight 165 gm<br>
                                Droplength 7.5 inches<br>
                                Width 3.7 inches<br>
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>Rs500</h4>
                            <a href="jewellery"><i class="fal fa-shopping-cart cart"></i></a>
                        </div>
                    </div>
            </div>
        </section>
        <section
            id="pagination" class="section-p1">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>

        </section>
        <section id="newsletter" class="section-p1 section-m1">
            <h2>Sign up here!!</h2>
            <div class="form">
                <input type="text" placeholder="Your email address">
                <button class="normal">Sign Up</button>
            </div>
        </section>
        <footer class="section-p1">
            <div class="col">
                <img src="static/images/eve.jpg.jpg" alt="" width="100" height="50">
                <h4> Contact</h4>
                <p><strong>Address: </strong> Mar Athanasius College </p>
                <p><strong>Phone: </strong> 123456789</p>
            </div>
            <div class="col">
                <h4> About</h4>
                <a href="#"> About us</a>
                <a href="#"> Privacy Policy</a>
                <a href="#"> Terms and conditions</a>
                <a href="#"> Contact Us</a>
            </div>
            <div class="col">
                <h4> My Account</h4>
                <a href="#"> Sign In</a>
                <a href="#"> View cart</a>
                <a href="#"> My wishlist</a>
                <a href="#"> Track my order</a>
                <a href="#"> Help</a>
            </div>       
        </footer>
        <script src="/static/js/script.js"></script>
    </body>
</html>